<mat-card class="example-card">
    <mat-card-title-group>
      <mat-card-title>American Call Center</mat-card-title>
      <mat-card-subtitle>April 2022 - Junio 2022</mat-card-subtitle>
      <img mat-card-md-image src="/assets/acc.jpeg" >
    </mat-card-title-group>
    <mat-card-content>
        Desarrollador FullStack
    </mat-card-content>
  </mat-card>

  <mat-card class="example-card">
    <mat-card-title-group>
      <mat-card-title>SAFIKE</mat-card-title>
      <mat-card-subtitle>Octubre 2019 - Junio 2021</mat-card-subtitle>
      <img mat-card-md-image src="/assets/safike.jpg" >
    </mat-card-title-group>
    <mat-card-content>
        Desarrollador FullStack
    </mat-card-content>
  </mat-card>

  <mat-card class="example-card">
    <mat-card-title-group>
      <mat-card-title>NAPORTEC</mat-card-title>
      <mat-card-subtitle>Octubre 2018 - Marzo 2019</mat-card-subtitle>
      <img mat-card-sm-image src="/assets/naportec.jpeg" >
    </mat-card-title-group>
    <mat-card-content>
        Desarrollo de proyecto: “DESARROLLO DE UN APLICATIVO PARA SOPORTAR LAS OPERACIONES EN GARITA DE NAPORTEC ORIENTADO A PUERTO DIGITAL”. Como resultado se desarrolló un aplicativo web y móvil para dar soporte a procesos dentro del terminal portuario.
    </mat-card-content>
  </mat-card>

  <mat-card class="example-card">
    <mat-card-title-group>
      <mat-card-title>FUNDACIÓN EDÚCATE</mat-card-title>
      <mat-card-subtitle>Abril 2018 - Mayo 2018</mat-card-subtitle>
      <img mat-card-sm-image src="/assets/educate.jpeg" >
    </mat-card-title-group>
    <mat-card-content>
        Refuerzo al programa Más Tecnología de la Fundación E-dúcate de la Ciudad De Guayaquil, voluntariado Universitario: Innovación Social para el Desarrollo Sostenible. Participé en el desarrollo de un aplicativo web y móvil para coordinar visitas de inspectores de la fundación a escuelas de escasos recursos.
    </mat-card-content>
  </mat-card>

  