<mat-accordion>
    <mat-expansion-panel >
      <mat-expansion-panel-header>
        <mat-panel-title>
            RECM1EN: IVADO
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-card class="example-card">
        <img mat-card-image src="/assets/ivado.png" alt="IVADO">
        <mat-card-content>
          <p>
            Recommender Systems: Behind the Screen.
            <a mat-button 
            href="https://courses.edx.org/certificates/b9bb316103d04c1182940af6bb1c287b" 
            target="_blank">Valid  Certificate</a>
          </p>
        </mat-card-content>
      </mat-card>
    </mat-expansion-panel>
    <mat-expansion-panel >
        <mat-expansion-panel-header>
          <mat-panel-title>
            ESTUDIOS UNIVERSITARIOS
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-card class="example-card">
            <img mat-card-image src="/assets/Logo-espol-blanco.png" alt="ESPOL">
            <mat-card-content>
              <p>
                Ingeniería en Ciencias de la Computación
              </p>
            </mat-card-content>
          </mat-card>
      </mat-expansion-panel>
      <mat-expansion-panel >
        <mat-expansion-panel-header>
          <mat-panel-title>
            IDIOMAS
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-card class="example-card">
            <img mat-card-image src="/assets/cen_icono.png" alt="CEN">
            <mat-card-content>
              <p>
                Certificate of Competency in English

              </p>
            </mat-card-content>
          </mat-card>
      </mat-expansion-panel>
      <mat-expansion-panel >
        <mat-expansion-panel-header>
          <mat-panel-title>
            CERTIFICACIONES
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-card class="example-card">
            <img mat-card-image src="/assets/michigan_logo.jpg" alt="MICHIGAN">
            <mat-card-content>
              <p>
                <b>University of Michigan</b>
                <br>
                Examination for Certificate of Competency in English
              </p>
            </mat-card-content>
          </mat-card>
      </mat-expansion-panel>
  </mat-accordion>
  